.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(235, 228, 228);
  padding: 32px;
  width: 420px;
  max-width: 92%;
  border-radius: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.botton-enter {
  background-color: #0b63d6;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
}

.botton-login {
  background-color: #0b63d6;
  color: #ffffff;
  border-radius: 12px;
  padding: 14px 18px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}

/* Sidebar fixa */
aside {
  background-color: #f3f4f6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #ddd;
}

/* Logo / título */
aside h2 {
  margin-bottom: 5px;
  text-align: left;
  color: #4f00ff;
}

/* Navegação principal */
aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside nav li {
  margin: 10px 0;
}

aside nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

aside nav a:hover {
  color: #4f00ff;
}

/* Bloco inferior (perfil) */
.sidebar-footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 14px;
  margin-top: auto;
}

.sidebar-footer p {
  margin: 2px 0;
}

.sidebar-footer ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar-footer li {
  margin: 6px 0;
}

.sidebar-footer a {
  text-decoration: none;
  color: #4f00ff;
}

.sidebar-footer a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
