<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SELOEDU - Home</title>
  <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
  <main class="wrap">
    <section class="card">
      <h1>Bem-vindo ao <strong>SELOEDU</strong></h1>
      <p> Seu gerenciador de aplicação de treinamentos. </p>
      <p>Faça login para acessar o painel.</p>
      <a class="btn" href="{{ url_for('auth.login') }}">Entrar</a>
    </section>
  </main>
</body>
</html>